@media (max-width: 991px) {

    .main-container {
        padding: 80px 100px 100px 100px;
    }

    .content-container {

        display: grid;
        grid-template-areas: 
        "main-image main-image"
        "main-title main-text"
        "read-more-btn read-more-btn"
        "news-bar news-bar"
        "article-image-first article-number-first"
        "article-image-first article-title-first"
        "article-image-first article-text-first"
        "article-image-second article-number-second"
        "article-image-second article-title-second"
        "article-image-second article-text-second"
        "article-image-third article-number-third"
        "article-image-third article-title-third"
        "article-image-third article-text-third";

        .main-text {
            padding-top: 60px;
        }

        .read-more-btn {
            justify-self: left;
        }

        .article-text-first, .article-text-second {
            padding-bottom: 30px;
        }

    }
    
    .header-navigation-bar {
        display: none;
    } 
    
    .mobile-menu {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0px;
        left: 300px;
        right: 0;
        bottom: 0;
        z-index: 99;
        background-color: #FFFDFA;
        color: black;
        list-style: none;
        padding-top: 180px;

        li {
            padding-bottom: 50px;
        
            .menu-item {
                padding-left: 50px;
            }   
        }
    }

    .hamburger {
        position: fixed;
        z-index: 100;
        top: 97px;
        right: 66px;
        padding: 4px;
        border: none;
        background: white;
        border-radius: 5px;
        cursor: pointer;

        .close-icon {
            display: none;
        }
    }
    
    .show-menu {
        transform: translateY(0);
        box-shadow: 0px 0px 800px rgba(0, 0, 0, 50);
    }
}