.article-image-first {
    grid-area: article-image-first;

    img {
        width: 100px;
        height: 127px;
        padding-right: 24px;
    }
}

.article-number-first {
    grid-area: article-number-first;

    p {
        color: #C5C6CE;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        padding-bottom: 12px;
    }
}

.article-title-first {
    grid-area: article-title-first;

    P {
        color: #00001A;
        font-size: 18px;
        font-weight: 800;
        line-height: 24px;
        padding-bottom: 9px;
    }

    p:hover {
        color: #F15D51;
        cursor: pointer;
    }
}

.article-text-first {
    grid-area: article-text-first;
    padding-right: 30px;
    width: 226px;

    P {
        color: #5E607A;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
    }
}

.article-image-second {
    grid-area: article-image-second;

    img {
        width: 100px;
        height: 127px;
        padding-right: 24px;
    }
}

.article-number-second {
    grid-area: article-number-second;

    p {
        color: #C5C6CE;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        padding-bottom: 12px;
    }
}

.article-title-second {
    grid-area: article-title-second;

    P {
        color: #00001A;
        font-size: 18px;
        font-weight: 800;
        line-height: 24px;
        padding-bottom: 9px;
    }

    p:hover {
        color: #F15D51;
        cursor: pointer;
    }
}

.article-text-second {
    grid-area: article-text-second;
    padding-right: 30px;
    width: 226px;

    P {
        color: #5E607A;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
    }
}

.article-image-third {
    grid-area: article-image-third;

    img {
        width: 100px;
        height: 127px;
        padding-right: 24px;
    }

}

.article-number-third {
    grid-area: article-number-third;

    p {
        color: #C5C6CE;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        padding-bottom: 12px;
    }
}

.article-title-third {
    grid-area: article-title-third;

    P {
        color: #00001A;
        font-size: 18px;
        font-weight: 800;
        line-height: 24px;
        padding-bottom: 9px;
    }
    
    p:hover {
        color: #F15D51;
        cursor: pointer;
    }
}

.article-text-third {
    grid-area: article-text-third;
    width: 226px;

    P {
        color: #5E607A;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
    }
}


